textarea {
  font-size: 1.6rem !important;
  line-height: 2.2rem !important;
  letter-spacing: -0.1px !important;
}

.App {
  padding: 12px;
}

h1 {
  font-size: 3.2rem !important;
  margin: 0 !important;
}

label {
  font-size: 1.6rem !important;
  line-height: 2.2rem !important;
}